*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  width: 80%;
  margin: 0 auto;
}

/* .clearfix{
  content: " ";
  display: table;
  clear: both;
} */

.content{
  background-color: #ABCFE7;
}



/* 
HEADER
 */

 header{
   background-color: #E579E6;
   height: 100px;
   margin: 20px 0px;
 }



 /* 
MAIN
 */

 main .hero-section{
   background-color: #E1D679;
   height: 400px;
   margin-bottom: 20px;
 }

 /* contenuto */
 main .content-section{
   background-color: #3086FF;
   height: 600px;
   margin-bottom: 10px;
 }

.testata{
  height: 70px;
}

.column{
  margin-top: 20px;
  margin-bottom: 20px;
}

.column-left, .column-right{
  float: left;
  width: 18%;
  height: 490px;
}

.column-center{
  float: left;
  width: 60%;
  height: 490px;
  margin-right: 2%;
  margin-left: 2%;
}



 /* 
FOOTER
 */

 footer{
   background-color: #8800FF;
   height: 50px;
   margin-bottom: 20px;
 }